@use 'sass:map';
@use 'colors';
@use 'fonts';
 
@mixin shadow-mixin{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
    border-radius: 22px;

    transition:
        transform 450ms ease,
        box-shadow 450ms ease;
}

@mixin shadow-hover-mixin {
    transform: translateY(-4px);

    box-shadow:
        0 8px 24px rgba(0, 0, 0, 0.55);
}

.shadow {
    @include shadow-mixin;
}

.shadow:hover {
    @include shadow-hover-mixin;
}

/*
    The Intrinsic <menubutton /> element is a heirarchy of other widgets
    including a <button /> element with deafult padding and margin. This
    is a workaround to remove the padding and margin from the <button />
    element so that the <menubutton /> can be styled properly with CSS.
*/

menubutton button {
    margin: 0px;
    padding: 0px;
}

.control-panel{
    // margin-right: 5px;
    // background-color: map.get(colors.$themes, light, background);
}