@use 'sass:map';
@use 'colors';
@use 'fonts';

/* 
How to use workspace styles:
============================

> Use button styles for active workspaces
> Use label style for the current workspace
*/

@mixin workspace-button-labels {
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 22px;
}

@mixin workspace-button-labels-hover {
    color: map.get(colors.$themes, light, background);
    background-color: map.get(colors.$themes, light, secondary);
}

.workspace-button-label {
    @include workspace-button-labels;

    color: map.get(colors.$themes, light, text);
}

.workspace-button-label:hover {
    @include workspace-button-labels-hover;
}

.workspace-button-label-active {
    @include workspace-button-labels;

    color: map.get(colors.$themes, light, secondary);
}

.workspace-button-label-active:hover {
    @include workspace-button-labels-hover;
}

.workspace-button-label-current {
    @include workspace-button-labels;

    color: map.get(colors.$themes, light, background);
    background-color: map.get(colors.$themes, light, secondary);
}

@mixin workspace-buttons {
    margin: 0px;
    padding: 2px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 22px;
}

@mixin workspace-buttons-hover {
    color: map.get(colors.$themes, light, secondary);
}

.workspace-button {
    @include workspace-buttons;

    background-color: map.get(colors.$themes, light, background);
}

.workspace-button:hover {
    @include workspace-buttons-hover;
}

.workspace-button-active {
    @include workspace-buttons;

    color: map.get(colors.$themes, light, accent);
}

.workspace-button-active:hover {
    @include workspace-buttons-hover;
}

.workspace-button-active-start {
    @include workspace-buttons;

    color: map.get(colors.$themes, light, accent);
    border-radius: 0px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.workspace-button-active-start:hover {
    @include workspace-buttons-hover;
}

.workspace-button-active-center {
    @include workspace-buttons;

    color: map.get(colors.$themes, light, accent);
    border-radius: 0px;
}

.workspace-button-active-center:hover {
    @include workspace-buttons-hover;
}

.workspace-button-active-end {
    @include workspace-buttons;

    color: map.get(colors.$themes, light, accent);
    border-radius: 0px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.workspace-button-active-end:hover {
    @include workspace-buttons-hover;
}


